
.header {
    position: fixed;
    width: 100%;
    background: #5b67ff;
    background: linear-gradient(45deg,#5cd2ff,#5b67ff,#681ae4);
    color: #fff;
    text-align: center;
    overflow: hidden;
    z-index: 1;
    top:0;
}
.index-container {
    margin-top: 7rem;
}